<%- include('./templates/header.ejs') %>


    <main class="admin">

        <p>holaa</p>

        <h2> <%= titulo %></h2>

        <p> <%= descripcion %></p>



    </main>


    <%- include('./templates/footer.ejs') %>