<link rel="stylesheet" href="css/main.css">

<%- include('./templates/header.ejs') %>


<h1 class="titulo">Titulo de la practica</h1>

    <main class="admin">


        <h2>
            <%= titulo %>
        </h2>


        <section>
            <form action="/admin/servicios/crearServicios" method="POST">

                <!--el id y el name tienen que tener el nombre que sus propiedades-->
                <input type="text" id="servicio" name="servicio" placeholder="nombre del servicio">
                <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="descripcion del servicio "></textarea>
                <input type="submit" value="Añadir Servicio">
            </form>
        </section>



    </main>


    <%- include('./templates/footer.ejs') %>