<nav class="container">

    <h1>Titulo de la practica</h1>

    <ul id="navegacion">
        <li><a href="/"><b>Inicio(NO INDEX)</b></a></li>
        <li><a href="/contacto"><b>Contacto</b></a></li>
        <li><a href="/productos"><b>Productos</b></a></l>
        <li><a href="/quienesSomos"><b>¿Quiénes Somos?</b></a></li>
        <li><a href="/admin/servicios/nuevo"><b>Servicios</b></a></li>
        <li><a href="/instalaciones"><b>Instalaciones</b></a></li>
    </ul>

</nav>